# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo

# =====================
# Jupyter / Kaggle
# =====================
.ipynb_checkpoints/

# =====================
# Virtual environments
# =====================
env/
venv/
.venv/

# =====================
# Data & models
# =====================
data/
*.pt
*.pth
*.bin
*.h5
*.onnx

# =====================
# Logs & outputs
# =====================
*.log
outputs/
results/

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Secrets
# =====================
*.env
*.key
*.pem

# =====================
# VS Code
# =====================
.vscode/
